[submodule "tools/sim/renode-dpi-examples"]
	path = tools/sim/renode-dpi-examples
	url = https://github.com/4zo4/renode-dpi-examples
    update = none
[submodule "tools/sim/renode"]
	path = tools/sim/renode
	url = https://github.com/4zo4/renode
    update = none
